* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .page-header{
    text-align: center;
  }

  body {
   background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png");
  }
  
  table, th, td {
    border: 1px solid;
  }
  
  th {
    background-color: #9e42f5;
  }
  
  #foo {
    text-align: right;
  }
  #last {
    text-decoration: line-through;
  }
  
  ul {
    list-style-type: square;
  }
  
  ul:last-child
  {
    list-style-type: circle;
  }
  
  a:hover {
    color:white
  }
  

  