* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #col1, #col2 {
    float: left;
    width: 49%;
    color: #594F4F;
  }

  #col2 {
    float: right;
  }

  .nav-bar {
    display: inline;
  }
  .nav-bar > ul 
  {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #594F4F;
  }
  

  .nav-bar > li > a 
  {
    display: block;
    color: #E5FCC2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .page-header {
    border: 3px solid;
    border-color: #E5FCC2;
    box-shadow: 3px 3px 3px #594F4F, 6px 6px 6px #549780;
    background-color: #E5FCC2; 
    padding: 10px;
    font-size: 28px;
    text-align: center;
    color: #594F4F;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #594F4F;
    color: #E5FCC2;
    text-align: center;
    font-size: 9px;
  }

  p {
    font-size: 14px;
  }
  
  body {
   background-color: #9DE0AD;
  }
  
  table, th, td {
    border: 1px solid;
  }
  

  th {
    background-color: #9e42f5;
  }
  
  #foo {
    text-align: right;
  }
  #last {
    text-decoration: line-through;
  }

  #morbin {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
  
  ul {
    list-style-type: square;
  }
  
  ul:last-child
  {
    list-style-type: circle;
  }
  
  a:hover {
    color: #E5FCC2;
  }
  
  a {
    color: #549780;
  }